**IMPORTING NECESSARY LIBRARIES**

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from collections import Counter as с 
import missingno as msno 
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder 
#from sklearn. linear_model import LogisticRegression 
#import pickle

**READING THE DATASET**

In [ ]:
f1=pd.read_csv("/content/sample_data/chronickidneydisease.csv")

In [ ]:
f1.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [ ]:
f1.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [ ]:
#dropping column 'id' as it is unnecessary
f1.drop(["id"], axis=1, inplace=True)

In [ ]:
f1.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [ ]:
#rename column names
f1.columns=['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
            'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium','hemoglobin', 'packed_cell_volume', 
            'white_blood_cell_count', 'red_blood_cell_count', 'hypertension', 'diabetesmellitus', 'coronary_artery_disease', 'appetite',
            'pedal_edema' , 'anemia', 'class'] 
cols=f1.columns
cols

Index(['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar',
       'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
       'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
       'potassium', 'hemoglobin', 'packed_cell_volume',
       'white_blood_cell_count', 'red_blood_cell_count', 'hypertension',
       'diabetesmellitus', 'coronary_artery_disease', 'appetite',
       'pedal_edema', 'anemia', 'class'],
      dtype='object')

**UNDERSTANDING THE DATATYPE**

In [ ]:
#target column - find unique elements of the array/column
f1['class'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [ ]:
#rectifying the unknown class in the dataset
f1['class']=f1['class'].replace("ckd\t", "ckd")
f1['class'].unique()

array(['ckd', 'notckd'], dtype=object)

In [ ]:
#target column
f1['class'].value_counts()

ckd       250
notckd    150
Name: class, dtype: int64

In [ ]:
f1['coronary_artery_disease'].value_counts()

no      362
yes      34
\tno      2
Name: coronary_artery_disease, dtype: int64

In [ ]:
#rectifying column
f1['coronary_artery_disease']=f1['coronary_artery_disease'].replace("\tno", "no")
f1['coronary_artery_disease'].value_counts()

no     364
yes     34
Name: coronary_artery_disease, dtype: int64

In [ ]:
f1['diabetesmellitus'].value_counts()

no       258
yes      134
\tno       3
\tyes      2
 yes       1
Name: diabetesmellitus, dtype: int64

In [ ]:
#rectifying column
f1['diabetesmellitus']=f1['diabetesmellitus'].replace("\tno", "no")
f1['diabetesmellitus']=f1['diabetesmellitus'].replace("\tyes", "yes")
f1['diabetesmellitus']=f1['diabetesmellitus'].replace(" yes", "yes")
f1['diabetesmellitus'].value_counts()

no     261
yes    137
Name: diabetesmellitus, dtype: int64

**CHECKING CATEGORICAL AND NUMERICAL DATA**

In [ ]:
num_cols = f1.select_dtypes(include='number').columns
num_cols

Index(['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar',
       'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
       'potassium', 'hemoglobin'],
      dtype='object')

In [ ]:
cat_cols= f1.select_dtypes(include='object').columns
cat_cols

Index(['red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
       'packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count',
       'hypertension', 'diabetesmellitus', 'coronary_artery_disease',
       'appetite', 'pedal_edema', 'anemia', 'class'],
      dtype='object')

**HANDLING THE MISSING VALUES**

In [ ]:
#conversion of numerical data(string format to numeric)
f1.packed_cell_volume = pd.to_numeric(f1.packed_cell_volume, errors="coerce")
f1.white_blood_cell_count = pd.to_numeric(f1.white_blood_cell_count, errors="coerce")
f1.red_blood_cell_count = pd.to_numeric(f1.red_blood_cell_count, errors="coerce")

In [ ]:
#check if any column is null
'''
True : null present
False: non-null
'''
f1.isnull().any()

age                         True
blood_pressure              True
specific_gravity            True
albumin                     True
sugar                       True
red_blood_cells             True
pus_cell                    True
pus_cell_clumps             True
bacteria                    True
blood_glucose_random        True
blood_urea                  True
serum_creatinine            True
sodium                      True
potassium                   True
hemoglobin                  True
packed_cell_volume          True
white_blood_cell_count      True
red_blood_cell_count        True
hypertension                True
diabetesmellitus            True
coronary_artery_disease     True
appetite                    True
pedal_edema                 True
anemia                      True
class                      False
dtype: bool

In [ ]:
#handle missing values
f1[ "blood_pressure"].fillna(f1["blood_pressure"].mean(),inplace=True)
f1[ "blood_glucose_random"].fillna(f1["blood_glucose_random"].mean(),inplace=True)
f1[ "blood_urea"].fillna(f1["blood_urea"].mean(),inplace=True)
f1[ "serum_creatinine"].fillna(f1["serum_creatinine"].mean(),inplace=True)
f1[ "sodium"].fillna(f1["sodium"].mean(),inplace=True)
f1[ "potassium"].fillna(f1["potassium"].mean(),inplace=True)
f1[ "hemoglobin"].fillna(f1["hemoglobin"].mean(),inplace=True)
f1[ "packed_cell_volume"].fillna(f1["packed_cell_volume"].mean(),inplace=True)
f1[ "white_blood_cell_count"].fillna(f1["white_blood_cell_count"].mean(),inplace=True)
f1[ "red_blood_cell_count"].fillna(f1["red_blood_cell_count"].mean(),inplace=True)

In [ ]:
#handle missing values
f1[ "age"].fillna(f1["age"].mode()[0],inplace=True)
f1[ "specific_gravity"].fillna(f1["specific_gravity"].mode()[0],inplace=True)
f1[ "albumin"].fillna(f1["albumin"].mode()[0],inplace=True)
f1[ "sugar"].fillna(f1["sugar"].mode()[0],inplace=True)
f1[ "red_blood_cells"].fillna(f1["red_blood_cells"].mode()[0],inplace=True)
f1[ "pus_cell"].fillna(f1["pus_cell"].mode()[0],inplace=True)
f1[ "pus_cell_clumps"].fillna(f1["pus_cell_clumps"].mode()[0],inplace=True)
f1[ "bacteria"].fillna(f1["bacteria"].mode()[0],inplace=True)
f1[ "diabetesmellitus"].fillna(f1["diabetesmellitus"].mode()[0],inplace=True)
f1[ "coronary_artery_disease"].fillna(f1["coronary_artery_disease"].mode()[0],inplace=True) 
f1[ "appetite"].fillna(f1["appetite"].mode()[0],inplace=True) 
f1[ "pedal_edema"].fillna(f1["pedal_edema"].mode()[0],inplace=True) 
f1[ "anemia"].fillna(f1["anemia"].mode()[0],inplace=True)
f1[ "hypertension"].fillna(f1["hypertension"].mode()[0],inplace=True)

In [ ]:
f1.isnull().any()

age                        False
blood_pressure             False
specific_gravity           False
albumin                    False
sugar                      False
red_blood_cells            False
pus_cell                   False
pus_cell_clumps            False
bacteria                   False
blood_glucose_random       False
blood_urea                 False
serum_creatinine           False
sodium                     False
potassium                  False
hemoglobin                 False
packed_cell_volume         False
white_blood_cell_count     False
red_blood_cell_count       False
hypertension               False
diabetesmellitus           False
coronary_artery_disease    False
appetite                   False
pedal_edema                False
anemia                     False
class                      False
dtype: bool